@CHARSET "UTF-8";

span {
	background-repeat: no-repeat;
}

.easybackup_logo {
	background: url("../img/easybackup_logo_text.png") no-repeat left center;
	padding: 10px 125px 10px 0;
}

.easybackup_agitos_logo {
	background: url("../img/trustedspace_logo.png") no-repeat right center;
	padding: 10px 130px 10px 0;
}

.easybackup_download_icon {
	background: url("../img/download.png") no-repeat left center;
	padding-left: 16px;
}

#easybackup_partner {
	border-bottom: 1px solid GRAY;
	font-size: larger;
	font-style: italic;
	height: 70px;
	padding-left: 15px;
}

#easybackup_userNameEdit, #easybackup_fileupload, .easybackup_label {
	display: inline-block;
}

input.easybackup_input {
	width: 100px;
}

#easybackup_upload_key {
	opacity: 0;
	position: absolute;
	width: 200px;
	z-index: 20;
}

#easybackup_schedules {
	padding-top: 0;
}

.easybackup_explanation {
	font-style: italic;
	margin-left: -15px;
	padding: 0 0 10px 18px;
}

.easybackup_bullet {
	background: url("../img/bullet.png") no-repeat scroll left center;
}

.easybackup_explanation A {
	text-decoration: underline;
}

#easybackup_goToBackup {
	background: url("../img/cog_go.png") no-repeat scroll left bottom
		rgba(0, 0, 0, 0);
	border: medium none;
	height: 35px;
	padding-left: 35px;
}

#easybackup_status {
	background-color: #f5f5f5;
	box-sizing: border-box;
	float: left;
	height: 100%;
	width: 450px;
	padding: 20px;
}

#easyBackup_log {
	border: solid 1px #dddddd;
	width: 30em;
	height: 50em;
	overflow: auto;
	font-family: monospace;
	font-size: 12px;
	margin: 10px;
	padding: 5px;
}

#easybackup_content {
	float: left;
	padding: 20px;
	width: 550px;
}

.easybackup_waitbar {
	background: url("../img/wait_bar.gif") no-repeat scroll right center;
	width: 120px;
	display: inline-block;
}

#easybackup_status DIV {
	padding: 10px;
}

#easybackup_content DIV {
	padding-top: 10px;
}

.easybackup_greencheck {
	background: url("../img/green.png") no-repeat left center;
	padding-left: 20px;
}

.easybackup_redcheck {
	background: url("../img/red.png") no-repeat left center;
	padding-left: 20px;
}

.easybackup_yellowcheck {
	background: url("../img/yellow.png") no-repeat left center;
	padding-left: 20px;
}

#easybackup_content textarea {
	width: 350px;
	height: 350px;
}

#easybackup_status a {
	font-size: smaller;
	text-decoration: underline;
	float: right;
	padding-right: 15px;
}

#easybackup_credits {
	font-size: smaller;
	position: absolute;
	bottom: 0;
	right: 0;
	color: GRAY;
}

#easybackup_credits A {
	color: GRAY;
}

#easybackup_publicKeyHint {
	width: 500px;
}

#easybackup_publicKeyHint textarea {
	width: 100%;
	height: 180px;
}

.light_red {
	background-color: #ffbbbb;
}